<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>AI Gallery</title>
<link rel="stylesheet" href="../../../resources/css/aigallery.css">
<link rel="stylesheet" href="css/animations.css">
<link href="css/hover.css" rel="stylesheet" media="all">
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>

<script>

// Animation
$('#animatedElement').click(function() {
    $(this).addClass("slideUp");
});

$('#animatedElement').click(function() {
    $(this).addClass("pulse");
});

///hairgallery
// $(document).ready(function (e){
// $(".package").on("click","img",function(){
//     var path = $(this).attr('src')
//     showImage(path);
// });

// function showImage(fileCallPath){
//     $(".bigPictureWrapper").css("display","flex").show();
//     $(".bigPicture")
//     .html("<img src='"+fileCallPath+"' >")
//     .animate({width:'100%', height: '100%'}, 700);
//     }
    
// $(".bigPictureWrapper").on("click", function(e){
//     $(".bigPicture").animate({width:'0%', height: '0%'}, 500);
//     setTimeout(function(){
//         $('.bigPictureWrapper').hide();
//     }, 500);
//     });
// });


// alert
function logout(seq){
Swal.fire({
    title: '정말로 로그아웃 하시겠습니까?',
    showCancelButton: true,
    confirmButtonColor: '#3caaffc4',
    cancelButtonColor: '#ffb6c1',
    confirmButtonText: '로그아웃 하기',
    cancelButtonText: '취소'
}).then((result) => {
    if (result.value) {
location.href="login.html";
    }
})
};

// add to gallery

$(function(){ 

$(".recommend").click(function(){
  $(".modal").fadeIn();
});

$(".modal_content").click(function(){
  $(".modal").fadeOut();
});

});

//모달 목록 (Modal List)
var recentModalList = [];

$(document).ready(function () {
    //Modal on Modal : jquery-1.9.1.js:3257 Uncaught RangeError: Maximum call stack size exceeded.
    $.fn.modal.Constructor.prototype.enforceFocus = function () { };

    //모달이 뜰 때 객체를 리스트에 추가 (Add modal to list)
    $('.modal').on('shown.bs.modal', function (e) {
        recentModalList.push(e.target);
    });

    //모달이 닫힐 때 객체를 리스트에서 삭제. (Remove modal from list)
    $('.modal').on('hide.bs.modal', function (e) {
        customModalClosed(e);
        console.log(recentModalList.length);
    });
});

var customModalClosed = function (e) {
    //나를 지운다.(Remove me in list)
    for (var i = recentModalList.length - 1; i >= 0; i--) {
        if (recentModalList[i] == e.target) {
            recentModalList.splice(i, 1);
        }
    }

    //이전 모달이 있으면 포커싱.(Focus to before modal)
    if (recentModalList.length > 0) {
        recentModalList[recentModalList.length - 1].focus();
    }
};

// image download
var a = document.createElement('a');
a.href = 이미지주소;
a.download = 다운로드파일이름;
document.body.appendChild(a);
a.click();
document.body.removeChild(a);
</script>


<body>
    <div>
        <nav id="nav">
            <ul class="container">
                <li class="home"><a href="home.html"><img src="./images/gomainpage.png" id="gomainpage" width="30" height="30"></a></li>
                <li class="logout"><img src="./images/gologout.png" id="gologout" onclick="logout()" width="30" height="30"></li>
            </ul>
        </nav>

        
        <article id="top" class="wrapper style1">
            <div class="container">
                <div class="row">
                    <div class="col-4 col-5-large col-12-medium">
                        <span class="image fit"><img src="./images/mypage_profile.png" id="profile" width="75" height="75"></span>
                    </div>
                    <div class="col-8 col-7-large col-12-medium">
                        <header>
                            <input type="text" id="userID" placeholder="ID" required>
                        </header>
                    </div>
                </div>
            </div>
        </article>
    </div>

    <article id="work" class="wrapper style2">
        <div class="container">
            <div class="row aln-center">
                <div class="col-4 col-6-medium col-12-small" id="aibox">
                    <div class="slideUp">
                        <section class="box style1">
                                <span class="title"></span>
                                <img src="./images/haircatpicklogo.png" id="haircatpicklogo" width="35" height="35">
                                <img src="./images/haircatpick.png" id="haircatpick" width="266" height="48">
                                <p id="note">내 갤러리에 3장 이상의 사진을 저장하면<br>AI 헤어캣이 유사한 스타일을 추천해줍니다!</p>
                        <div class="package">
                            <div class="gallery">
                            <div class="modal">
                                <div class="modal_content" title="클릭하면 창이 닫힙니다.">
                                    <span class="close" id="close"> &#x2716;</span>
                                <div class="head">
                                    <img src="./images/haircatpicklogo.png" id="haircatpicklogo" width="35" height="35">
                                    <img src="./images/haircatpick.png" id="haircatpick" width="248" height="48">
                                    <p id="note2">AI 헤어캣이 유사한 헤어스타일을 추천해줍니다!</p>
                                    <button id="downbtn"><img src="./images/download.jpg" id="download" width="23" height="23"><strong>Download</strong></button>
                                </div>
                                    <img src="./images/핑크염색.jpg" width="300" height="320">
                                    
                                <div class="airec">
                                    <img src="./images/haircatpicklogo.png" id="reviewcat" width="140" height="130">
                                    <div class="textbox">😻<b><span style="color:rgb(157, 0, 255)">냥냥냥~!</span><br/>(WOW!<br/>정말 트렌디한데요?)</b></div>
                                </div>

                                </div>
                            </div>
                                <img src="./images/clearcat.png" id="cryinglogo" width="91" height="105">
                                <img src="./images/addhair.png" id="cryinglogo" width="91" height="105">
                                <img src="./images/addhair.png" id="cryinglogo" width="91" height="105">
                                <img src="./images/핑크염색.jpg" class="recommend" id="pinkhair" width="100" height="100">
                            </div>
                        </div>
                        </section>

                        <div class="scroll-moveBox flex flex-br-c">
        <button class="w-btn-outline w-btn-blue-outline" type="button"><a href="mypage.html" id="scroll_move" class="button hvr-pulse-shrink"><img src="./images/backwards.png" id="backwards" width="27" height="27" ></a></button>
        <button class="w-btn-outline w-btn-blue-outline" type="button"><a href="mygallery.html" id="scroll_move" class="button hvr-pulse-shrink"><img src="./images/userlogo.png" id="userlogo" width="27" height="27" >MY GALLERY</a></button>
        <div class="dropup">
            <button class="dropbtn"><img src="./images/sns2.png" id="sns2" width="27" height="27"></button>
            <div class="dropup-content">
                <div class="pulse"><div class="ins"><a href="https://www.instagram.com/"><img src="./images/instagram.png" id="instagram" width="27" height="27"></a></div></div>
                <div class="pulse"><div class="kk"><a href="https://www.facebook.com/"><img src="./images/kakaotalk.png" id="kakaotalk" width="27" height="27"></a></div></div>
                <div class="pulse"><div class="nb"><a href="http://blog.naver.com"><img src="./images/naverblog.png" id="naverblog" width="27" height="27"></a></div></div>
                <div class="pulse"><div class="tt"><a href="https://twitter.com"><img src="./images/twitter.png" id="twitter" width="27" height="27"></a></div></div>
                <div class="pulse"><div class="fb"><a href="https://www.facebook.com/"><img src="./images/facebook.png" id="facebook" width="27" height="27"></a></div></div>
            </div>
          </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </article>
   

   

</body>



</html>