<!-- <%@ page language="java" contentType="text/html; charset=utf-8" pageEncoding="utf-8"%> -->
<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AI Gallery</title>
  <link rel="icon" href="resources/images/ailogo.png">
  
  <script defer src="resources/js/startaigallery.js"></script>
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
  <!-- <script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script> -->
  <script defer src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
  <!-- <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script> -->
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/slider-pro/1.5.0/js/jquery.sliderPro.min.js"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.umd.js"></script>

  <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.css"/> -->
  <link rel="stylesheet" href="resources/css/aigallery.css">
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slider-pro/1.5.0/css/slider-pro.min.css"/> -->
  <script defer src="resources/js/aigallery.js"></script>
</head>

<script>
// sns 공유
function shareInstagram() {
  window.open("https://www.instagram.com/" + encodeURIComponent(location.href));
};

function shareKakaotalk() {
  window.open("https://www.facebook.com/sharer.php?u=http://221.148.138.28:9200/biz/login.do" + encodeURIComponent(location.href));
};

function shareNaverBlog() {
  window.open("https://share.naver.com/web/shareView.nhn?url=http://221.148.138.28:9200/biz/login.do&title=챗봇 헤어캣 서비스" + encodeURIComponent(location.href));
};

function shareTwitter() {
  window.open("https://twitter.com/intent/tweet?url=http://221.148.138.28:9200/biz/login.do" + encodeURIComponent(location.href));
};

function shareFacebook() {
  window.open("https://www.facebook.com/sharer.php?u=http://221.148.138.28:9200/biz/login.do" + encodeURIComponent(location.href));
};
</script>


<body>
  <div>
    <nav id="nav">
      <ul class="container">
        <li class="home"><a href="home.do"><img src="./images/gomainpage.png" id="gomainpage" width="30"
              height="30"></a></li>
        <li class="logout"><img src="./images/gologout.png" id="gologout" onclick="logout()" width="30" height="30">
        </li>
      </ul>
    </nav>


    <article id="top" class="wrapper style1">
      <div class="container">
        <div class="row">
          <div class="col-4 col-5-large col-12-medium">
            <span class="image fit"><img src="./images/mypage_profile.png" id="profile" width="75" height="75"></span>
          </div>
          <div class="col-8 col-7-large col-12-medium">
            <header>
              <input type="text" disabled id="userID" placeholder="ID" required>
            </header>
          </div>
        </div>
      </div>
    </article>
  </div>

  <article id="work" class="wrapper style2">
    <div class="container">
      <div class="row aln-center">
        <div class="col-4 col-6-medium col-12-small" id="aibox">
          <div class="slideUp">
            <section class="box style1">
              <span class="title"></span>
              <img src="./images/haircatpicklogo.png" id="haircatpicklogo" width="35" height="35">
              <img src="./images/haircatpick.png" id="haircatpick" width="266" height="48">
              <p id="note">AI 헤어캣이 다양한 헤어스타일을 제공합니다.<br>채팅을 통해 더 많은 헤어스타일을 만들어보세요!</p>
              <div class="package">
                <!-- <div class="gallery"> -->
                <div class="flexBBox">
                  <div class="flexMBox">
                    <div class="flexSbox" id="flexcont">
                      <!-- <img src="./images/clearcat.png" id="cryinglogo" width="91" height="105">
                                <img src="./images/addhair.png" id="cryinglogo" width="91" height="105">
                                <img src="./images/addhair.png" id="cryinglogo" width="91" height="105"> -->

                      <!-- <img src="./images/핑크염색.jpg" class="recommend" id="pinkhair" width="100" height="100">
                                <img src="./images/그레이염색.jpg" class="recommend" id="pinkhair" width="100" height="100">
                                <img src="./images/히피펌.jpg" class="recommend" id="pinkhair" width="100" height="100"> -->

                      <!-- <button id="downbtn"><img src="./images/download.jpg" id="download" width="23" height="23"><strong>Download</strong></button> -->
                      
                      
                      <!-- <img src="./images/핑크염색.jpg" class="recommend" id="pinkhair" width="100" height="100">
	                                <img src="./images/그레이염색.jpg" class="recommend" id="pinkhair" width="100" height="100">
	                                <img src="./images/히피펌.jpg" class="recommend" id="pinkhair" width="100" height="100"> -->

                      <div class="modal">
                        <div class="modal_content" title="클릭하면 창이 닫힙니다.">
                          <div class="x"><span class="close" id="close"> &#x2716;</span></div>
                          <div class="head">
                            <img src="./images/haircatpicklogo.png" id="haircatpicklogo" width="35" height="35">
                            <img src="./images/salon.png" id="haircatpick" width="280" height="40">
                            <p id="note2">실시간 유저들의 PICK도 구경해보세요!</p>
                            <!-- <button id="downbtn"><img src="./images/download.jpg" id="download" width="23" height="23"><strong>Download</strong></button> -->
                          </div>
                          <!-- <img src="./images/핑크염색.jpg" width="300" height="320"> -->
                          <!-- <div class="autoslider" id="as"> -->
                          <div class="slidercont" id="sc">
                            <div class="hvr-pulse-shrink"><img src="./images/그레이염색.jpg" width="280" height="300"></div>
                            <div class="hvr-pulse-shrink"><img src="./images/다운펌.png" width="280" height="300"></div>
                            <div class="hvr-pulse-shrink"><img src="./images/애쉬블루.jpg" width="280" height="300"></div>
                            <div class="hvr-pulse-shrink"><img src="./images/핑크염색.jpg" width="280" height="300"></div>
                            <div class="hvr-pulse-shrink"><img src="./images/히피펌.jpg" width="280" height="300"></a>
                            </div>
                          </div>
                          <!-- </div> -->

                          <div class="airec">
                            <img src="./images/haircatpicklogo.png" id="reviewcat" width="140" height="130">
                            <div class="textbox">😻<b><span
                                  style="color:rgb(157, 0, 255)">냥냥냥~!</span><br />(WOW!<br />정말 트렌디한데요?)</b></div>
                          </div>

                        </div>
                      </div>

                    </div>
                  </div>
                </div>

              </div>
            </section>

            <div class="scroll-moveBox flex flex-br-c">
              <button class="w-btn-outline w-btn-blue-outline" type="button"><a href="mypage.do" id="scroll_move"
                  class="button hvr-pulse-shrink"><img src="./images/backwards.png" id="backwards" width="27"
                    height="27"></a></button>
              <button class="w-btn-outline w-btn-blue-outline" type="button"><a href="mygallery.do" id="scroll_move"
                  class="button hvr-pulse-shrink"><img src="./images/userlogo.png" id="userlogo" width="27"
                    height="27">MY GALLERY</a></button>
              <div class="dropup">
                <button class="dropbtn"><img src="./images/sns2.png" id="sns2" width="27" height="27"></button>
                <div class="dropup-content">
                  <div class="pulse"><div class="ins"><a href="javascript:shareInstagram()"><img src="./images/instagram.png" id="instagram" width="27" height="27"></a></div></div>
                  <div class="pulse"><div class="kk"><a href="javascript:shareKakaotalk()"><img src="./images/kakaotalk.png" id="kakaotalk" width="27" height="27"></a></div></div>
                  <div class="pulse"><div class="nb"><a href="javascript:shareNaverBlog()"><img src="./images/naverblog.png" id="naverblog" width="27" height="27"></a></div></div>
                  <div class="pulse"><div class="tt"><a href="javascript:shareTwitter()"><img src="./images/twitter.png" id="twitter" width="27" height="27"></a></div></div>
                  <div class="pulse"><div class="fb"><a href="javascript:shareFacebook()"><img src="./images/facebook.png" id="facebook" width="27" height="27"></a></div></div>
              </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </article>




</body>



</html>