<!-- <%@ page language="java" contentType="text/html; charset=utf-8" pageEncoding="utf-8"%> -->
<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AI Gallery</title>
  
  <script defer src="resources/js/startaigallery.js"></script>
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
  <!-- <script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script> -->
  <script defer src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
  <!-- <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script> -->
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/slider-pro/1.5.0/js/jquery.sliderPro.min.js"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.umd.js"></script>

  <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.css"/> -->
  <link rel="stylesheet" href="resources/css/aigallery.css">
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slider-pro/1.5.0/css/slider-pro.min.css"/> -->
  <script defer src="resources/js/aigallery.js"></script>
</head>

<script>
// sns 공유
function shareInstagram() {
  window.open("https://www.instagram.com/" + encodeURIComponent(location.href));
};

function shareKakaotalk() {
  window.open("https://www.facebook.com/sharer.php?u=http://221.148.138.28:9000/biz/login.do" + encodeURIComponent(location.href));
};

function shareNaverBlog() {
  window.open("https://share.naver.com/web/shareView.nhn?url=http://naver.com&title=챗봇 헤어캣 서비스" + encodeURIComponent(location.href));
};

function shareTwitter() {
  window.open("https://twitter.com/intent/tweet?url=http://221.148.138.28:9000/biz/login.do" + encodeURIComponent(location.href));
};

function shareFacebook() {
  window.open("https://www.facebook.com/sharer.php?u=http://221.148.138.28:9000/biz/login.do" + encodeURIComponent(location.href));
};
</script>

<!--
<script>

// Animation
$('#animatedElement').click(function() {
    $(this).addClass("slideUp");
});

$('#animatedElement').click(function() {
    $(this).addClass("pulse");
});


///hairgallery
// $(document).ready(function (e){
// $(".package").on("click","img",function(){
//     var path = $(this).attr('src')
//     showImage(path);
// });

// function showImage(fileCallPath){
//     $(".bigPictureWrapper").css("display","flex").show();
//     $(".bigPicture")
//     .html("<img src='"+fileCallPath+"' >")
//     .animate({width:'100%', height: '100%'}, 700);
//     }
    
// $(".bigPictureWrapper").on("click", function(e){
//     $(".bigPicture").animate({width:'0%', height: '0%'}, 500);
//     setTimeout(function(){
//         $('.bigPictureWrapper').hide();
//     }, 500);
//     });
// });


// alert
function logout(seq){
Swal.fire({
    title: '정말로 로그아웃 하시겠습니까?',
    showCancelButton: true,
    confirmButtonColor: '#3caaffc4',
    cancelButtonColor: '#ffb6c1',
    confirmButtonText: '로그아웃 하기',
    cancelButtonText: '취소'
}).then((result) => {
    if (result.value) {
location.href="login.html";
    }
})
};

// add to gallery

$(function(){ 

$(".recommend").click(function(){
  $(".modal").fadeIn();
});

$("#close").click(function(){
  $(".modal").fadeOut();
});

});

// // image downloads

// document.getElementById('exportBtn').onclick = function(){
// domtoimage.toBlob(document.getElementById('image__'))
// .then(function (blob) {
//     window.saveAs(blob, 'image__.png');
// });
// }


// $('.fancybox-image').each(function (){
//     var href = $(this).attr('src');
//     $(this).next("a").attr("href", href);
// });

// $('[data-fancybox="gallery"]').fancybox({
//   buttons : [
//     'zoom',
//     'counter',
//     'slideshow',
//     'fullscreen',
//     'thumbs',
//     'download',
//     'close',
//   ],
//   beforeShow : function(instance, slide) { 
//     instance.$refs.container.find('.fancybox-button--download').attr('href', slide.src);
//   }
// });



// fancy box
Fancybox.bind('[data-fancybox="gallery"]', {
Toolbar: {
  display: [
    {
      id: "counter",
      position: "center",
    },
    "zoom",
    "counter",
    "slideshow",
    "thumbs",
    "download",
    "close",
  ],
},
});


// autoslide

$(function(){
$('#sc').slick({
slide: 'div',       
infinite : true,    
slidesToShow : 1,        
slidesToScroll : 1,        
speed : 100,     
arrows : true,        
dots : false,        
autoplay : true,           
autoplaySpeed : 1000,         
pauseOnHover : true,        
vertical : false,      
prevArrow : "<button type='button' class='slick-prev'>Previous</button>",    
nextArrow : "<button type='button' class='slick-next'>Next</button>",      
dotsClass : "slick-dots",     
draggable : true,    
});
})

</script>
-->


<body>
  <div>
    <nav id="nav">
      <ul class="container">
        <li class="home"><a href="home.do"><img src="./images/gomainpage.png" id="gomainpage" width="30"
              height="30"></a></li>
        <li class="logout"><img src="./images/gologout.png" id="gologout" onclick="logout()" width="30" height="30">
        </li>
      </ul>
    </nav>


    <article id="top" class="wrapper style1">
      <div class="container">
        <div class="row">
          <div class="col-4 col-5-large col-12-medium">
            <span class="image fit"><img src="./images/mypage_profile.png" id="profile" width="75" height="75"></span>
          </div>
          <div class="col-8 col-7-large col-12-medium">
            <header>
              <input type="text" disabled id="userID" placeholder="ID" required>
            </header>
          </div>
        </div>
      </div>
    </article>
  </div>

  <article id="work" class="wrapper style2">
    <div class="container">
      <div class="row aln-center">
        <div class="col-4 col-6-medium col-12-small" id="aibox">
          <div class="slideUp">
            <section class="box style1">
              <span class="title"></span>
              <img src="./images/haircatpicklogo.png" id="haircatpicklogo" width="35" height="35">
              <img src="./images/haircatpick.png" id="haircatpick" width="266" height="48">
              <p id="note">내 갤러리에 3장 이상의 사진을 저장하면<br>AI 헤어캣이 유사한 스타일을 추천해줍니다!</p>
              <div class="package">
                <!-- <div class="gallery"> -->
                <div class="flexBBox">
                  <div class="flexMBox">
                    <div class="flexSbox" id="flexcont">
                      <!-- <img src="./images/clearcat.png" id="cryinglogo" width="91" height="105">
                                <img src="./images/addhair.png" id="cryinglogo" width="91" height="105">
                                <img src="./images/addhair.png" id="cryinglogo" width="91" height="105"> -->

                      <!-- <img src="./images/핑크염색.jpg" class="recommend" id="pinkhair" width="100" height="100">
                                <img src="./images/그레이염색.jpg" class="recommend" id="pinkhair" width="100" height="100">
                                <img src="./images/히피펌.jpg" class="recommend" id="pinkhair" width="100" height="100"> -->

                      <!-- <button id="downbtn"><img src="./images/download.jpg" id="download" width="23" height="23"><strong>Download</strong></button> -->
                      
                      <a class="myatags" href="./images/그레이염색.jpg" data-fancybox="gallery" data-download-src="./images/그레이염색.jpg">
                        <img class="rounded recommend" src="./images/그레이염색.jpg">
                      </a>
                      <a class="myatags" href="./images/애쉬블루.jpg" data-fancybox="gallery" data-download-src="./images/애쉬블루.jpg">
                        <img class="rounded recommend" src="./images/애쉬블루.jpg">
                      </a>
                      <a class="myatags" href="./images/히피펌.jpg" data-fancybox="gallery" data-download-src="./images/히피펌.jpg">
                        <img class="rounded recommend" src="./images/히피펌.jpg">
                      </a>
                      <a class="myatags" href="./images/s컬펌.jpg" data-fancybox="gallery" data-download-src="./images/s컬펌.jpg">
                        <img class="rounded recommend" src="./images/s컬펌.jpg">
                      </a>
                      <a class="myatags" href="./images/다운펌.png" data-fancybox="gallery" data-download-src="./images/다운펌.png">
                        <img class="rounded recommend" src="./images/다운펌.png">
                      </a>
                      <a class="myatags" href="./images/핑크염색.jpg" data-fancybox="gallery" data-download-src="./images/핑크염색.jpg">
                        <img class="rounded recommend" src="./images/핑크염색.jpg">
                      </a>
                      <a class="myatags" href="./images/그레이염색.jpg" data-fancybox="gallery" data-download-src="./images/그레이염색.jpg">
                        <img class="rounded recommend" src="./images/그레이염색.jpg">
                      </a>
                      <a class="myatags" href="./images/애쉬블루.jpg" data-fancybox="gallery" data-download-src="./images/애쉬블루.jpg">
                        <img class="rounded recommend" src="./images/애쉬블루.jpg">
                      </a>
                      <a class="myatags" href="./images/애쉬블루.jpg" data-fancybox="gallery" data-download-src="./images/애쉬블루.jpg">
                        <img class="rounded recommend" src="./images/애쉬블루.jpg">
                      </a>
                      <a class="myatags" href="./images/애쉬블루.jpg" data-fancybox="gallery" data-download-src="./images/애쉬블루.jpg">
                        <img class="rounded recommend" src="./images/애쉬블루.jpg">
                      </a>
                      <a class="myatags" href="./images/애쉬블루.jpg" data-fancybox="gallery" data-download-src="./images/애쉬블루.jpg">
                        <img class="rounded recommend" src="./images/애쉬블루.jpg">
                      </a>
                      <a class="myatags" href="./images/애쉬블루.jpg" data-fancybox="gallery" data-download-src="./images/애쉬블루.jpg">
                        <img class="rounded recommend" src="./images/애쉬블루.jpg">
                      </a>
                      <a class="myatags" href="./images/애쉬블루.jpg" data-fancybox="gallery" data-download-src="./images/애쉬블루.jpg">
                        <img class="rounded recommend" src="./images/애쉬블루.jpg">
                      </a>
                      <a class="myatags" href="./images/애쉬블루.jpg" data-fancybox="gallery" data-download-src="./images/애쉬블루.jpg">
                        <img class="rounded" src="./images/애쉬블루.jpg">
                      </a>
                      <a class="myatags" href="./images/애쉬블루.jpg" data-fancybox="gallery" data-download-src="./images/애쉬블루.jpg">
                        <img class="rounded recommend" src="./images/애쉬블루.jpg">
                      </a>
                      <a class="myatags" href="./images/애쉬블루.jpg" data-fancybox="gallery" data-download-src="./images/애쉬블루.jpg">
                        <img class="rounded recommend" src="./images/애쉬블루.jpg">
                      </a>
                      <a class="myatags" href="./images/애쉬블루.jpg" data-fancybox="gallery" data-download-src="./images/애쉬블루.jpg">
                        <img class="rounded recommend" src="./images/애쉬블루.jpg">
                      </a>
                      <a class="myatags" href="./images/애쉬블루.jpg" data-fancybox="gallery" data-download-src="./images/애쉬블루.jpg">
                        <img class="rounded recommend" src="./images/애쉬블루.jpg">
                      </a>
                      <a class="myatags" href="./images/애쉬블루.jpg" data-fancybox="gallery" data-download-src="./images/애쉬블루.jpg">
                        <img class="rounded recommend" src="./images/애쉬블루.jpg">
                      </a>
                      <a class="myatags" href="./images/애쉬블루.jpg" data-fancybox="gallery" data-download-src="./images/애쉬블루.jpg">
                        <img class="rounded" src="./images/애쉬블루.jpg">
                      </a>
                      <a class="myatags" href="./images/애쉬블루.jpg" data-fancybox="gallery" data-download-src="./images/애쉬블루.jpg">
                        <img class="rounded" src="./images/애쉬블루.jpg">
                      </a>
                      <a class="myatags" href="./images/애쉬블루.jpg" data-fancybox="gallery" data-download-src="./images/애쉬블루.jpg">
                        <img class="rounded" src="./images/애쉬블루.jpg">
                      </a>
                      <a class="myatags" href="./images/애쉬블루.jpg" data-fancybox="gallery" data-download-src="./images/애쉬블루.jpg">
                        <img class="rounded" src="./images/애쉬블루.jpg">
                      </a>
                      <a class="myatags" href="./images/애쉬블루.jpg" data-fancybox="gallery" data-download-src="./images/애쉬블루.jpg">
                        <img class="rounded" src="./images/애쉬블루.jpg">
                      </a>
                      <a class="myatags" href="./images/애쉬블루.jpg" data-fancybox="gallery" data-download-src="./images/애쉬블루.jpg">
                        <img class="rounded" src="./images/애쉬블루.jpg">
                      </a>
                      <!-- <img src="./images/핑크염색.jpg" class="recommend" id="pinkhair" width="100" height="100">
	                                <img src="./images/그레이염색.jpg" class="recommend" id="pinkhair" width="100" height="100">
	                                <img src="./images/히피펌.jpg" class="recommend" id="pinkhair" width="100" height="100"> -->

                      <div class="modal">
                        <div class="modal_content" title="클릭하면 창이 닫힙니다.">
                          <div class="x"><span class="close" id="close"> &#x2716;</span></div>
                          <div class="head">
                            <img src="./images/haircatpicklogo.png" id="haircatpicklogo" width="35" height="35">
                            <img src="./images/salon.png" id="haircatpick" width="280" height="40">
                            <p id="note2">실시간 유저들의 PICK도 구경해보세요!</p>
                            <!-- <button id="downbtn"><img src="./images/download.jpg" id="download" width="23" height="23"><strong>Download</strong></button> -->
                          </div>
                          <!-- <img src="./images/핑크염색.jpg" width="300" height="320"> -->
                          <!-- <div class="autoslider" id="as"> -->
                          <div class="slidercont" id="sc">
                            <div class="hvr-pulse-shrink"><img src="./images/그레이염색.jpg" width="280" height="300"></div>
                            <div class="hvr-pulse-shrink"><img src="./images/다운펌.png" width="280" height="300"></div>
                            <div class="hvr-pulse-shrink"><img src="./images/애쉬블루.jpg" width="280" height="300"></div>
                            <div class="hvr-pulse-shrink"><img src="./images/핑크염색.jpg" width="280" height="300"></div>
                            <div class="hvr-pulse-shrink"><img src="./images/히피펌.jpg" width="280" height="300"></a>
                            </div>
                          </div>
                          <!-- </div> -->

                          <div class="airec">
                            <img src="./images/haircatpicklogo.png" id="reviewcat" width="140" height="130">
                            <div class="textbox">😻<b><span
                                  style="color:rgb(157, 0, 255)">냥냥냥~!</span><br />(WOW!<br />정말 트렌디한데요?)</b></div>
                          </div>

                        </div>
                      </div>

                    </div>
                  </div>
                </div>

              </div>
            </section>

            <div class="scroll-moveBox flex flex-br-c">
              <button class="w-btn-outline w-btn-blue-outline" type="button"><a href="mypage.do" id="scroll_move"
                  class="button hvr-pulse-shrink"><img src="./images/backwards.png" id="backwards" width="27"
                    height="27"></a></button>
              <button class="w-btn-outline w-btn-blue-outline" type="button"><a href="mygallery.do" id="scroll_move"
                  class="button hvr-pulse-shrink"><img src="./images/userlogo.png" id="userlogo" width="27"
                    height="27">MY GALLERY</a></button>
              <div class="dropup">
                <button class="dropbtn"><img src="./images/sns2.png" id="sns2" width="27" height="27"></button>
                <div class="dropup-content">
                  <div class="pulse"><div class="ins"><a href="javascript:shareInstagram()"><img src="./images/instagram.png" id="instagram" width="27" height="27"></a></div></div>
                  <div class="pulse"><div class="kk"><a href="javascript:shareKakaotalk()"><img src="./images/kakaotalk.png" id="kakaotalk" width="27" height="27"></a></div></div>
                  <div class="pulse"><div class="nb"><a href="javascript:shareNaverBlog()"><img src="./images/naverblog.png" id="naverblog" width="27" height="27"></a></div></div>
                  <div class="pulse"><div class="tt"><a href="javascript:shareTwitter()"><img src="./images/twitter.png" id="twitter" width="27" height="27"></a></div></div>
                  <div class="pulse"><div class="fb"><a href="javascript:shareFacebook()"><img src="./images/facebook.png" id="facebook" width="27" height="27"></a></div></div>
              </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </article>




</body>



</html>