<%@ page language="java" contentType="text/html; charset=utf-8" pageEncoding="utf-8"%>
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>챗봇(아직 이름 없음)</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="resources/css/home.css">
   
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>

</head>

<body>
    <div class="chat_wrap">
            <div class="header">
                CHAT
            </div>
            <div class="chat">
                <ul>
                    <!-- 동적 생성 -->
                </ul>
            </div>
            <div class="input-div">
                <textarea placeholder="Press Enter for send message."></textarea>
            </div>
         
            <!-- format -->
         
            <div class="chat format">
                <ul>
                    <li>
                        <div class="sender">
                            <span></span>
                        </div>
                        <div class="message">
                            <span></span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        
        


</body>


</html>