<!-- <%@ page language="java" contentType="text/html; charset=utf-8" pageEncoding="utf-8"%> -->
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HairCat</title>
    <link rel="icon" href="resources/images/ailogo.png">
    
   <!--<link rel="stylesheet" href="../../../resources/css/home.css">
   <link rel="stylesheet" href="css/my_mouseover_text.css" />-->

   
   <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
   <script defer src="resources/js/home.js"></script>
   <script defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
   
   <script defer src="resources/js/home2.js"></script>
   	
   	
   	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css">
	<link rel= "stylesheet" href= "https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css" >
    <link rel="stylesheet" href="resources/css/home.css"> 
</head>

<body>

    <header class="container headcont">
       	<div class="top">
       		<div class="center">
	            <a id="loginout" href="login.do">      
	            	<img src="" id="moveback" width="30" height="30">
	            </a>
	            <a href="home.do">
	            	<img src="resources/images/logofont.png" id="title" width="250" height="60">
	           	</a>
	           	<span class="mypage on"  onclick="nomypage()">
	            	<img src="resources/images/gomypage.png" id="search" width="30" height="30">	           	
	            </span>
				<a class="mypage" href="mypage.do">
	            	<img src="resources/images/gomypage.png" id="search" width="30" height="30">	           	
	            </a>
       		</div>
       	</div>
    </header>

    
    <main class="container maincont">
        <div class="row">
        	<div class="col-12">
	                <div class="context">
	                    <div class="chat ch1">
	                        <div class="icon"><div class="ai icon"></div></div>
	                        <div class="textbox">
	                        	안녕하세요? 저는 AI 챗봇 헤어캣😺입니다! 
	                        	</br>

								헤어캣 서비스 이용방법을 안내드립니다.
	                            
	                       </div>
	                    </div>
	                    <div class="chat ch1">
	                        <div class="icon"><div class="ai icon"></div></div>
	                        <div class="textbox">
	                        
	                        	😸 이용방법 </br>
								STEP1 : 헤어캣 서비스 종류는 다음과 같습니다.</br></br>
								1. 헤어 스타일만 변경하기</br>
								2. 헤어 컬러만 변경하기</br>
								3. 둘 다 변경하기</br></br>
								STEP2 : 헤어캣이 제공하는 다양한 헤어 스타일 종류를 확인해보세요.</br></br>
								STEP3 : 왼쪽 하단의 버튼을 클릭한 후, 헤어 서비스를 받을 사용자의 사진을 추가합니다.</br></br>
								STEP4 : 원하시는 헤어 스타일 및 색상을 선택한 후, 오른쪽 하단의 전송버튼을 누릅니다.</br></br>
								STEP5 : 잠시 후(30초 가량 소요), AI 헤어캣이 완성된 헤어 스타일을 보여드립니다.
	                   
	                        </div>
	                    </div>
	                    <div class="chat ch1">
	                        <div class="icon"><div class="ai icon"></div></div>
	                        <div class="textbox">
	                        	😸 로그인 혜택</br></br>
								로그인한 사용자에 한해,</br>
								더미 데이터 서비스 및 마이페이지 서비스 혜택을 제공하고 있습니다.
							</div>
	                    </div>
	                    
	                     <div class="chat ch1">
	                        <div class="icon"><div class="ai icon"></div></div>
	                        <div class="textbox">
								😸 더미 데이터 (Dummy Data)</br></br>
								* 더미 데이터란?</br>
								AI 헤어캣이 고객님이 전송하신 사진을 특수 필터를 적용한
								애니메이션화 작업을 통해 새로운 사진(4종)을 제공해 드립니다.</br>
								전송된 사진은 
								HAIR CAT GALLERY에서 확인하실 수 있습니다.</br>
								더미 데이터를 통해 더 다양한 헤어 서비스를 이용하실 수 있습니다.
	                        </div>
	                    </div>
	                    <div class="chat ch1">
	                        <div class="icon"><div class="ai icon"></div></div>
	                        <div class="textbox">
	                        	😸 마이페이지 서비스 혜택</br></br>
								* MY GALLERY</br>
								AI 챗봇 헤어캣이 만든 더미 데이터를
								마이페이지의 MY GALLERY에서 확인하실 수 있습니다.</br></br>
								* HAIR CAT GALLERY</br>
								AI 챗봇 헤어캣이 만든 완성된 헤어스타일을
								마이페이지의 HAIR CAT GALLERY에서 확인하실 수 있습니다.
							</div>
	                    </div>
	                    
	                    <div class="chat ch1">
	                        <div class="icon"><div class="ai icon"></div></div>
	                        <div class="textbox">
	                        	이용에 궁금한 사항이 있으시면,</br>
								언제든지 AI 챗봇 헤어캣에게 물어보세요.</br>
								다음과 같은 키워드를 입력하시거나 질문해주세요😻</br></br>

								예시) 헤어 추천해줘 / 20대 / 유행
							</div>
	                    </div>
	                </div>
	
	            </div>  
	        </div>  
    </main>
    <div class="container postChatBox">
	        <form id="postChat" class="row">
	        		<div id="testBtn">
	        			<div class="plusBox">
		        			<div class="plus">
		        				+
		        			</div>
		        		</div>
						<div class="dummy">
								<img id="hand" alt="hand" src="resources/images/fprint.png"/>
		        		</div>
	        			
	        		</div>
					<!-- <div class="dummy"> -->
							 
					<!-- </div> -->
	                <input type="text" id="chatting" class="chatpostB">
					<button type="button" id="chatBtn" class="chatpostB"><img src="resources/images/send.png" id="sendbtn" width="22" height="22"></button>       		
	        </form> 
	 </div>
    <div id="testPop">
    	<div class="testPopbox">
    		<div class="filters">
	    		<div class="filter">
	    			<!-- <div class="Dbox D1"></div>
	    			<div class="Dbox D2"></div>
	    			<div class="Dbox D3"></div>
	    			<div class="Dbox D4"></div> -->
	    			<div id="filterBox">
	    				&#215;
	    			</div>
	    		</div>
    		</div>
    		<div id="testPopForm">
    			<div id="testPopFormBox">
		    		<label id="uploadImgBox" for="fileInput">
			    		<img alt="" src="" id="uploadImg">
		    		</label>
		    		<label id="fileLabel" class="on" for="fileInput">
		    			<div id="fileLabelInBox">
			    			<div id="fileLabelInBoxbox">
				    			+<br>
							<p style="font-size:20px" id="addnote">Add Picture!</p>
			    			</div>
		    			</div>
		    		</label>
					<select name="hairstyle" id="pickhairstyle">
						<option value="">✂ 헤어 스타일 선택</option>
						<option value="0">0.없음</option>
						<option value="1">1.아프로 헤어 스타일</option>
						<option value="2">2.단발 헤어 스타일</option>
						<option value="3">3.바가지 머리 헤어 스타일</option>
						<option value="4">4.땋은 머리 헤어 스타일</option>
						<option value="5">5.시저 컷 헤어 스타일</option>
						<option value="6">6.시뇽 헤어스타일/ 똥머리 헤어스타일</option>
						<option value="7">7. 콘로우 헤어스타일</option>
						<option value="8">8. 크루 컷 헤어스타일</option>
						<option value="9">9. 크라운 브레이드 헤어 스타일</option>
						<option value="10">10. 가르마 머리 헤어 스타일</option>
						<option value="11">11. 다이도 플립 헤어스타일</option>
						<option value="12">12. 드레드락 헤어 스타일</option>
						<option value="13">13. 붙임머리 헤어 스타일</option>
						<option value="14">14. 페이드 헤어 스타일</option>
						<option value="15">15. 소프트 모히칸 헤어 스타일</option>
						<option value="16">16. 핑거 웨이브 헤어 스타일</option>
						<option value="17">17. 땋은 머리 헤어스타일</option>
						<option value="18">18. 프로스트 팁 헤어 스타일</option>
						<option value="19">19. 왕관 머리 헤어 스타일</option>
						<option value="20">20. 아이비리그컷 헤어스타일</option>
						<option value="21">21. 크루컷 헤어 스타일</option>
						<option value="22">22. 히메컷 헤어스타일</option>
						<option value="23">23. 하이탑 페이드 헤어스타일</option>
						<option value="24">24. 유대인 아프로 헤어 스타일</option>
						<option value="25">25. 제리 컬 헤어스타일</option>
						<option value="26">26. 자유의 여신상 헤어 스타일</option>
						<option value="27">27. 마샬 웨이브 헤어 스타일</option>
						<option value="28">28. 모히칸 헤어 스타일</option>
						<option value="29">29. 페이지보이 헤어스타일</option>
						<option value="30">30. 파마 헤어 스타일</option>
						<option value="31">31. 픽시컷 헤어스타일</option>
						<option value="32">32. 펑크락 헤어스타일</option>
						<option value="33">33. 퀴프 헤어스타일</option>
						<option value="34">34. 레귤러 테이퍼컷 헤어스타일</option>
						<option value="35">35. 링렛 헤어 스타일</option>
						<option value="36">36. 보브컷 헤어 스타일 </option>
						<option value="37">37. 짧은 머리 헤어스타일</option>
						<option value="38">38. 슬릭백 언더컷 헤어스타일</option>
						<option value="39">39. 뾰족 머리 헤어 스타일</option>
						<option value="40">40. 서퍼 헤어 스타일</option>
						<option value="41">41. 테이퍼컷 헤어스타일</option>
						<option value="42">42. 롱 레이어드 컷 헤어스타일</option>
						<option value="43">43. 언더컷 헤어스타일</option>
						<option value="44">44. 업도 헤어 스타일</option>
					</select>
					<select name="haircolor" id="pickhaircolor">
						<option value="none">🎨 헤어 색상 선택</option>
						<option value="none">없음</option>
						<option value="purple">보라색</option>
						<option value="red">빨간색</option>
						<option value="orange">오렌지색</option>
						<option value="yellow">노란색</option>
						<option value="green">초록색</option>
						<option value="blue">파란색</option>
						<option value="gray">회색</option>
						<option value="brown">갈색</option>
						<option value="black">검은색</option>
						<option value="white">흰색</option>
						<option value="blond">금발</option>
						<option value="pink">핑크색</option>
						<option value="gold">황금색</option>
						<option value="beige">베이지색</option>
						<option value="lightbrown">밝은 갈색</option>
						<option value="lightpink">밝은 핑크색</option>
					</select>
		    		<input type="file" multiple="multiple" name="" id="fileInput">
		    		<button type="button" name="" id="fileBTN">
		    			<i class="las la-upload"></i>
		    		</button>
    			</div>
    		</div>   
    		<!-- <form id="testForm" method="post" enctype="multiplart/form-data">
    			<img alt="" src="" id="">
    			<input type="file" multiple="multiple" name="">
    		</form>  -->		
    	</div>
    </div>
	
	<div id="testPop2">
		<div class="testPopbox">
    		<div class="filters">
	    		<div class="filter">
	    			<!-- <div class="Dbox D1"></div>
	    			<div class="Dbox D2"></div>
	    			<div class="Dbox D3"></div>
	    			<div class="Dbox D4"></div> -->
	    			<div id="filterBox2">
	    				&#215;
	    			</div>
	    		</div>
    		</div>
    		<div id="testPopForm2">
    			<div id="testPopFormBox2">
		    		<label id="uploadImgBox2" for="fileInput2">
			    		<img alt="" src="" id="uploadImg2">
		    		</label>
		    		<label id="fileLabel2" class="on" for="fileInput2">
		    			<div id="fileLabelInBox2">
			    			<div id="fileLabelInBoxbox2">
				    			+<br>
							<p style="font-size:20px" id="addnote">Add Picture!</p>
			    			</div>
		    			</div>
		    		</label>
		    		<input type="file" multiple="multiple" name="" id="fileInput2">
		    		<button type="button" name="" id="fileBTN2">
		    			<i class="las la-upload"></i>
		    		</button>
    			</div>
    		</div> 
    		<div class="airec">
            <img src="./images/heart.png" id="heart" width="240" height="220">
           
          </div> 
    		<!-- <form id="testForm" method="post" enctype="multiplart/form-data">
    			<img alt="" src="" id="">
    			<input type="file" multiple="multiple" name="">
    		</form>  -->		
    	</div>
	</div>
	
</body>

</html>