<!-- <%@ page language="java" contentType="text/html; charset=utf-8" pageEncoding="utf-8"%> -->
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Gallery</title>

    <script defer src="resources/js/startmygallery.js"></script>

    <script defer src="http://code.jquery.com/jquery-latest.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script defer src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script defer type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/slider-pro/1.5.0/js/jquery.sliderPro.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slider-pro/1.5.0/css/slider-pro.min.css" />
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
    <script defer src="resources/js/lightbox.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.umd.js"></script>
    <script defer src="resources/js/mygallery.js"></script>

    <link rel="stylesheet" href="resources/css/mygallery.css">


</head>

<script>
// sns 공유
function shareInstagram() {
  window.open("https://www.instagram.com/" + encodeURIComponent(location.href));
};

function shareKakaotalk() {
  window.open("https://www.facebook.com/sharer.php?u=http://221.148.138.28:9000/biz/login.do" + encodeURIComponent(location.href));
};

function shareNaverBlog() {
  window.open("https://share.naver.com/web/shareView.nhn?url=http://naver.com&title=챗봇 헤어캣 서비스" + encodeURIComponent(location.href));
};

function shareTwitter() {
  window.open("https://twitter.com/intent/tweet?url=http://221.148.138.28:9000/biz/login.do" + encodeURIComponent(location.href));
};

function shareFacebook() {
  window.open("https://www.facebook.com/sharer.php?u=http://221.148.138.28:9000/biz/login.do" + encodeURIComponent(location.href));
};
</script>

<body>
    <div>
        <nav id="nav">
            <ul class="container">
                <li><a href="home.do"><img src="./images/gomainpage.png" id="gomainpage" width="30" height="30"></a>
                </li>
                <li><img src="./images/gologout.png" id="gologout" onclick="logout()" width="30" height="30"></li>
            </ul>
        </nav>


        <article id="top" class="wrapper style1">
            <div class="container">
                <div class="row">
                    <div class="col-4 col-5-large col-12-medium">
                        <span class="image fit"><img src="./images/mypage_profile.png" id="profile" width="75"
                                height="75"></span>
                    </div>
                    <div class="col-8 col-7-large col-12-medium">
                        <header>
                            <input type="text" disabled id="userID" placeholder="ID" required>
                        </header>
                    </div>
                </div>
            </div>
        </article>
    </div>

    <article id="work" class="wrapper style2">
        <div class="container">
            <div class="row aln-center">
                <div class="col-4 col-6-medium col-12-small" id="context">
                    <div class="slideUp">
                        <section class="box style1">
                            <span class="title"></span>
                            <a href="mygallery.do"><img src="./images/ui_gallery.png" id="galleryui" width="28"
                                    height="29"></a>
                            <a href="mygallery.do"><img src="./images/mygallery.png" id="mygallerylogo" width="226"
                                    height="48"></a>
                            <div class="package" onclick="showImage">

                                <!-- <div class='bigPictureWrapper'>
		<div class='bigPicture'></div>
	</div> -->

                                <!-- <div class="test">
        <img src="./images/s컬펌.jpg" style="width: 100px; height: 100px;">
        <img src="./images/핑크염색.jpg" style="width: 100px; height: 100px;"> 
        <img src="./images/애쉬블루.jpg" style="width: 100px; height: 100px;"> 
        <img src="./images/그레이염색.jpg" style="width: 100px; height: 100px;"> 
        <img src="./images/히피펌.jpg" style="width: 100px; height: 100px;"> 
        <img src="./images/다운펌.png" style="width: 100px; height: 100px;"> 
        <img src="./images/s컬펌.jpg" style="width: 100px; height: 100px;"> 
        <img src="./images/핑크염색.jpg" style="width: 100px; height: 100px;"> 
        <img src="./images/애쉬블루.jpg" style="width: 100px; height: 100px;"> 
        <img src="./images/그레이염색.jpg" style="width: 100px; height: 100px;"> 
        <img src="./images/핑크염색.jpg" style="width: 100px; height: 100px;"> 
        <img src="./images/애쉬블루.jpg" style="width: 100px; height: 100px;"> 
        <img src="./images/히피펌.jpg" style="width: 100px; height: 100px;"> 
        <img src="./images/다운펌.png" style="width: 100px; height: 100px;"> 
        <img src="./images/s컬펌.jpg" style="width: 100px; height: 100px;"> 
        <img src="./images/핑크염색.jpg" style="width: 100px; height: 100px;">
        <img src="./images/애쉬블루.jpg" style="width: 100px; height: 100px;"> 
        <img src="./images/히피펌.jpg" style="width: 100px; height: 100px;"> 
        <img src="./images/다운펌.png" style="width: 100px; height: 100px;"> 
        <img src="./images/s컬펌.jpg" style="width: 100px; height: 100px;"> 
    </div> -->
                                <div class="flexBBox">
                                    <div class="flexMBox">
                                        <div class="flexSbox" id="flexcont">
                                            <a class="myatags" data-fancybox="gallery" href="./images/핑크염색.jpg">
                                                <img class="rounded" src="./images/핑크염색.jpg">
                                            </a>
                                            <a class="myatags" data-fancybox="gallery" href="./images/그레이염색.jpg">
                                                <img class="rounded" src="./images/그레이염색.jpg">
                                            </a>
                                            <a class="myatags" data-fancybox="gallery" href="./images/애쉬블루.jpg">
                                                <img class="rounded" src="./images/애쉬블루.jpg">
                                            </a>
                                            <a class="myatags" data-fancybox="gallery" href="./images/s컬펌.jpg">
                                                <img class="rounded" src="./images/s컬펌.jpg">
                                            </a>
                                            <a class="myatags" data-fancybox="gallery" href="./images/히피펌.jpg">
                                                <img class="rounded" src="./images/히피펌.jpg">
                                            </a>
                                            <a class="myatags" data-fancybox="gallery" href="./images/핑크염색.jpg">
                                                <img class="rounded" src="./images/핑크염색.jpg">
                                            </a>
                                            <a class="myatags" data-fancybox="gallery" href="./images/그레이염색.jpg">
                                                <img class="rounded" src="./images/그레이염색.jpg">
                                            </a>
                                            <a class="myatags" data-fancybox="gallery" href="./images/애쉬블루.jpg">
                                                <img class="rounded" src="./images/애쉬블루.jpg">
                                            </a>
                                            <a class="myatags" data-fancybox="gallery" href="./images/s컬펌.jpg">
                                                <img class="rounded" src="./images/s컬펌.jpg">
                                            </a>
                                            <a class="myatags" data-fancybox="gallery" href="./images/히피펌.jpg">
                                                <img class="rounded" src="./images/히피펌.jpg">
                                            </a>
                                            <a class="myatags" data-fancybox="gallery" href="./images/핑크염색.jpg">
                                                <img class="rounded" src="./images/핑크염색.jpg">
                                            </a>
                                            <a class="myatags" data-fancybox="gallery" href="./images/그레이염색.jpg">
                                                <img class="rounded" src="./images/그레이염색.jpg">
                                            </a>
                                            <a class="myatags" data-fancybox="gallery" href="./images/애쉬블루.jpg">
                                                <img class="rounded" src="./images/애쉬블루.jpg">
                                            </a>
                                            <a class="myatags" data-fancybox="gallery" href="./images/s컬펌.jpg">
                                                <img class="rounded" src="./images/s컬펌.jpg">
                                            </a>
                                            <a class="myatags" data-fancybox="gallery" href="./images/히피펌.jpg">
                                                <img class="rounded" src="./images/히피펌.jpg">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <!-- <a href="./images/그레이염색.jpg" data-lightbox="myhairpic"><img src="./images/그레이염색.jpg"></a>
    <a href="./images/히피펌.jpg" data-lightbox="myhairpic"><img src="./images/히피펌.jpg"></a>
    <a href="./images/핑크염색.jpg" data-lightbox="myhairpic"><img src="./images/핑크염색.jpg"></a>
    <a href="./images/s컬펌.jpg" data-lightbox="myhairpic"><img src="./images/s컬펌.jpg"></a>
    <a href="./images/그레이염색.jpg" data-lightbox="myhairpic"><img src="./images/그레이염색.jpg"></a>
    <a href="./images/히피펌.jpg" data-lightbox="myhairpic"><img src="./images/히피펌.jpg"></a>
    <a href="./images/핑크염색.jpg" data-lightbox="myhairpic"><img src="./images/핑크염색.jpg"></a>
    <a href="./images/s컬펌.jpg" data-lightbox="myhairpic"><img src="./images/s컬펌.jpg"></a>
    <a href="./images/그레이염색.jpg" data-lightbox="myhairpic"><img src="./images/그레이염색.jpg"></a>
    <a href="./images/히피펌.jpg" data-lightbox="myhairpic"><img src="./images/히피펌.jpg"></a>
    <a href="./images/핑크염색.jpg" data-lightbox="myhairpic"><img src="./images/핑크염색.jpg"></a>
    <a href="./images/s컬펌.jpg" data-lightbox="myhairpic"><img src="./images/s컬펌.jpg"></a>
    <a href="./images/그레이염색.jpg" data-lightbox="myhairpic"><img src="./images/그레이염색.jpg"></a>
    <a href="./images/히피펌.jpg" data-lightbox="myhairpic"><img src="./images/히피펌.jpg"></a>
    <a href="./images/핑크염색.jpg" data-lightbox="myhairpic"><img src="./images/핑크염색.jpg"></a>
    <a href="./images/s컬펌.jpg" data-lightbox="myhairpic"><img src="./images/s컬펌.jpg"></a>
    <a href="./images/그레이염색.jpg" data-lightbox="myhairpic"><img src="./images/그레이염색.jpg"></a>
    <a href="./images/히피펌.jpg" data-lightbox="myhairpic"><img src="./images/히피펌.jpg"></a>
    <a href="./images/핑크염색.jpg" data-lightbox="myhairpic"><img src="./images/핑크염색.jpg"></a>
    <a href="./images/s컬펌.jpg" data-lightbox="myhairpic"><img src="./images/s컬펌.jpg"></a>
    <a href="./images/그레이염색.jpg" data-lightbox="myhairpic"><img src="./images/그레이염색.jpg"></a> -->

                            </div>
                        </section>

                        <div class="scroll-moveBox flex flex-br-c">
                            <button class="w-btn-outline w-btn-blue-outline" type="button"><a href="mypage.do"
                                    id="scroll_move" class="button hvr-pulse-shrink"><img src="./images/backwards.png"
                                        id="backwards" width="27" height="27"></a></button>
                            <button class="w-btn-outline w-btn-blue-outline" type="button"><a href="aigallery.do"
                                    id="scroll_move" class="button hvr-pulse-shrink"><img
                                        src="./images/haircatpicklogo.png" id="haircatpicklogo" width="27"
                                        height="27">HAIRCAT GALLERY</a></button>
                            <div class="dropup">
                                <button class="dropbtn"><img src="./images/sns2.png" id="sns2" width="27"
                                        height="27"></button>
                                 <div class="dropup-content">
                  <div class="pulse"><div class="ins"><a href="javascript:shareInstagram()"><img src="./images/instagram.png" id="instagram" width="27" height="27"></a></div></div>
                  <div class="pulse"><div class="kk"><a href="javascript:shareKakaotalk()"><img src="./images/kakaotalk.png" id="kakaotalk" width="27" height="27"></a></div></div>
                  <div class="pulse"><div class="nb"><a href="javascript:shareNaverBlog()"><img src="./images/naverblog.png" id="naverblog" width="27" height="27"></a></div></div>
                  <div class="pulse"><div class="tt"><a href="javascript:shareTwitter()"><img src="./images/twitter.png" id="twitter" width="27" height="27"></a></div></div>
                  <div class="pulse"><div class="fb"><a href="javascript:shareFacebook()"><img src="./images/facebook.png" id="facebook" width="27" height="27"></a></div></div>
              </div>
                            </div>



                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>




</body>



</html>