<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>AI Gallery</title>
<!-- <link rel="stylesheet" href="../../../resources/css/aigallery.css"> -->
<link rel="stylesheet" href="css/animations.css">
<link href="css/hover.css" rel="stylesheet" media="all">
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slider-pro/1.5.0/js/jquery.sliderPro.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slider-pro/1.5.0/css/slider-pro.min.css"/>
</head>

<script>

//모달 목록 (Modal List)
$(function () {
$('#slide').sliderPro({
arrows: true,
buttons: false,
slideDistance: 0,
waitForLayers: true,
thumbnailWidth: 30,
thumbnailHeight: 15,
thumbnailPointer: true,
autoplay: false,
autoScaleLayers: false,
breakpoints: {
    1000: {
    width: 400,
    height: 565,
    arrows: false,
    thumbnailWidth: 8,
    thumbnailHeight: 8
    }
}
});
});

$(function () {
          $('#main_modal').show();
        });
        function closePopUp() {
          $('#main_modal').hide();
        };

</script>


<body>
    
                                <div id="main_modal">
                                    <div class="list-pops">
                                      <div class="close_btn" onclick="closePopUp();">
                                        <span>닫기</span>
                                      </div>
                                      <div class="slider-pro" id="slide">
                                        <div class="sp-slides">
                                          <div class="sp-slide">
                                            <img class="sp-image" src="./images/핑크염색.jpg" width="50" height="50">
                                          </div>
                                          <div class="sp-slide">
                                            <img class="sp-image" src="./images/그레이염색.jpg" width="100" height="100">
                                          </div>
                                          <div class="sp-slide">
                                            <img class="sp-image" src="./images/다운펌.png" width="100" height="100">
                                          </div>
                                          <div class="sp-slide">
                                            <img class="sp-image" src="./images/히피펌.jpg" width="100" height="100">
                                          </div>
                                          <div class="sp-slide">
                                            <img class="sp-image" src="./images/애쉬블루.jpg" width="100" height="100">
                                          </div>
                                        </div>
                                        <div class="sp-thumbnails">
                                          <div class="sp-thumbnail">
                                            1번 탭 </div>
                                          <div class="sp-thumbnail">
                                            2번 탭 </div>
                                          <div class="sp-thumbnail">
                                            3번 탭 </div>
                                          <div class="sp-thumbnail">
                                            4번 탭 </div>
                                          <div class="sp-thumbnail">
                                            5번 탭 </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>


                        
                        
                    </div>
                </div>
            </div>
        </div>
    </article>
   

   

</body>



</html>