
.context {
	position: relative;
	margin-top: 8vh;
	margin-bottom: 5.2vh;
    padding: 10px;
    /* background-color:#68beffcb; */
    overflow-y: scroll;
   	height: 86.8vh;
    -ms-overflow-style: none;
}

.context::-webkit-scrollbar { 
    display: none;
    width: 0 !important;
}

.context .chat {
    display: flex;
    align-items: flex-start;
    padding: 15px;
}

.context .chat .icon {
    position: absolute;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.context .chat .ai{
    position: absolute;
    left: 35%;
    font-size: 2.5rem;
    color: #aaa;
    background: url("../images/ailogo.png") no-repeat;
    transform: translateX(-50%);
}

.context .chat .user{
    position: absolute;
    margin-left: 20px;
    font-size: 2.5rem;
    color: #aaa;
    background: url("../images/clientlogo.png") no-repeat;
}

.context .chat .textbox {
    position: relative;
    display: inline-block;
    max-width: calc(100% - 70px);
    padding: 10px;
    margin-top: 5px;
    font-size: 15px;
    border-radius: 10px;
}
.textbox > img {
	max-width : 100%;
}
.context .chat .textbox::before {
    position: absolute;
    display: block;
    top: 0;
    font-size: 1.5rem;
}

.context .ch1 .textbox {
    margin-left: 80px;
    background-color: rgb(202, 141, 252);
    color:rgb(255, 255, 255);
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.context .ch1 .textbox::before {
    left: -17px;
    content: "◀";
    color: rgb(202, 141, 252);
}

.context .ch2 {
    flex-direction: row-reverse;
}

.context .ch2 .textbox {
	min-width: 44px;
	min-height: 34px;
    margin-right: 70px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16px;
    color:rgb(0, 0, 0);
    background-color: #fff266;
}

.context .ch2 .textbox::before {
    right: -17px;
    content: "▶";
    color: #fff266;
}

/* /////////////////// head ////////////////////// */

.headcont{
	position: fixed;
	top: 0;
	left: 50%;
    transform: translateX(-50%);
	width: 100%;
	z-index: 9000;
	background-color: #c3f3ff;
}

.top{
    width: 100%;
    height: 67px;
    padding-top:5px;
}

#gologin{
   margin-left:10px;
   margin-top: -3px;
}

.center{
	display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
}

#title{
	margin-right: -14px;
    margin-left: -8px;
}

.mypage.on{
	display: block;
}
.mypage{
	display: none;
}


#gomypage{
    margin-right:15px;
}


/* //////////////////// main //////////////////// */


.maincont{

    position:static;
    background-color:#68beffcb;
}

.contentBox{
    width:100%;
    height: 70vh;
    
}


.chattingBox{
    width:100%;
	
    height: 70vh;
}
.chatBox{
    position: relative;
    height: 100%;
    width: 100%;
}
.chbox{
    position: absolute;
    width: 100%;
    bottom: 0;

    left: 52%;
    transform: translateX(-50%);
    height: 65vh;
}

.postChatBox{
	position: fixed;
    bottom: 0.1%;
    left: 50%;
    transform: translateX(-50%);
}



#postChat{
	height: 5.5vh;
	min-height: 35px;
}



#context{
    padding:0px;
    height: 100vh;
    
}

#sendbtn{
    padding:0px;
}

#testBtn{
	display: flex;
	padding: 0;
	position: absolute;
	width: 70px;
	height: 35px;
	top: 50%;
    left: 1%;
    transform: translateY(-50%);

}

#chatting{

	padding-left: 75px;
    width:100%;
    /*width:80%;*/
    border-color:rgb(190, 184, 184);
    height: 100%;

}

#chatting:focus{
	outline: none;
}

#chatBtn{
	display: none;
    width:13%;
    height: 100%;
    background-color:rgb(255, 238, 83);
    border-color:rgb(165, 158, 158);
    font-size: 17px;
    /* margin-top:15%; */
}

.plusBox{
	position: relative;
	width: 100%;
	height: 100%;	
}

.plus{
	position: absolute;
	top: 42%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 29px;
    font-weight: bold;
    color: rgba(119, 119, 119, 0.6);
}

.dummy{
	position: relative;
    width: 100%;
    height: 100%;
}


#hand{
	margin-left: 5px;
	width: 20px;
	position: absolute;
    top: 51%;
    left: 45%;
    transform: translate(-50%, -50%);
}

#dbtn{
	border:none;
}


 /* ////////////////////// footer //////////////////////// */
/*.footcont{
    margin-top: 5%;
}

.footerBox{
    text-align: center;
    width:100%;
	border: 1px solid rgb(148, 132, 132); 
}
*/


#testPop{
	position: fixed;
	top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(65, 79, 82, 0.607);
    z-index: 9999;
    display: none;
}

#testPop2{
	position: fixed;
	top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(65, 79, 82, 0.607);
    z-index: 9999;
    display: none;
}

#testPop.on{
	display: block;
}

#testPop2.on{
	display: block;
}

.testPopbox{
	position: relative;
	width: 101%;
    height: 100%;
	background-image: url(../images/background4.png);
	background-size: cover;
}

#testPopForm{
	position: absolute;
	width: 90%;
	height: 85%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	/*border: 1px solid green;*/
}

#testPopForm2{
	position: absolute;
	width: 90%;
	height: 85%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	/*border: 1px solid green;*/
}

#testPopFormBox{
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

#testPopFormBox2{
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

.filters{
	position: absolute;
	width: 45px;
	height: 45px;
	top: 1%;
	left: .5%;
}

.filter{
	position: relative;
	width: 100%;
	height: 100%;
	/*border: 1px solid blue;*/
	color: #fff;
}
#filterBox{
	position: absolute;
	font-size: 60px;
	top: 35%;
	left: 65%;
	transform: translate(-50%, -50%);
	opacity: .5;
    transition: opacity .3s ease-in-out ;
	color: black;
}

#filterBox2{
	position: absolute;
	font-size: 60px;
	top: 35%;
	left: 65%;
	transform: translate(-50%, -50%);
	opacity: .5;
    transition: opacity .3s ease-in-out ;
	color: black;
}

.Dbox{
	/* content: ''; */
	width: 45%;
	height: 5px;
	position: absolute;
	background: #fff;

}
.filter:hover #filterBox{
	opacity: 1;
}

.filter:hover #filterBox2{
	opacity: 1;
}

.D1{
    top: 30%;
    left: 30%;
    transform: translate(-50%, -50%) rotate(45deg);
}
.D1:before{
	right: -5px;
	content: '';
	height: 0;
	width: 0;
	position: absolute;
	border: 2.5px solid transparent;
	border-left-color: #fff;
}

.D2{
	top: 30%;
    left: 69%;
    transform: translate(-50%, -50%) rotate(135deg);

}

.D2:before{
	right: -5px;
	content: '';
	height: 0;
	width: 0;
	position: absolute;
	border: 2.5px solid transparent;
	border-left-color: #fff;
}

.D3{
	top: 69%;
    left: 30%;
    transform: translate(-50%, -50%) rotate(135deg);

}
.D3:before{
	left: -5px;
	content: '';
	height: 0;
	width: 0;
	position: absolute;
	border: 2.5px solid transparent;
	border-right-color: #fff;
}

.D4{
	top: 69%;
    left: 69%;
    transform: translate(-50%, -50%) rotate(45deg);

}
.D4:before{
	left: -5px;
	content: '';
	height: 0;
	width: 0;
	position: absolute;
	border: 2.5px solid transparent;
	border-right-color: #fff;
}


#fileLabel{
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
	margin: 0;
	width: 90%;
	height: 70vh;
	color: rgba(255, 255, 255, 0.4);
	font-size: 110px;
	display: none;
}

#fileLabel2{
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
	margin: 0;
	width: 90%;
	height: 70vh;
	color: rgba(255, 255, 255, 0.4);
	font-size: 110px;
	display: none;
}



#fileLabel.on{
	display: block;
}

#fileLabel2.on{
	display: block;
}

#fileLabelInBox {
    position: relative;
    width: 108%;
    height: 84%;
    background-color: rgb(255, 255, 255);
    right: 13px;
}

#fileLabelInBox2 {
    position: relative;
    width: 108%;
    height: 84%;
    background-color: rgb(255, 255, 255);
    right: 13px;
}

#fileLabelInBoxbox{
	position: absolute;
	margin: 0;
	padding: 0;
	top: 44%;
	left: 50%;	
	transform: translate(-50%, -50%);
	text-align: center;
	color: gray;
}

#fileLabelInBoxbox2{
	position: absolute;
	margin: 0;
	padding: 0;
	top: 44%;
	left: 50%;	
	transform: translate(-50%, -50%);
	text-align: center;
	color: gray;
}

#fileBTN{
	position: absolute;
	width: 65px;
	height: 65px;	
	bottom: -5%;
	right: -20px;
	font-size: 45px;
	color: #fff;
	border: none;
	outline: none;
	background: none;
	opacity: .5;
	color:black;
}

#fileBTN2{
	position: absolute;
	width: 65px;
	height: 65px;	
	bottom: 0;
	right: -20px;
	font-size: 45px;
	color: #fff;
	border: none;
	outline: none;
	background: none;
	opacity: .5;
	color:black;
}

#fileInput[type="file"] {  /* 파일 필드 숨기기 */
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip:rect(0,0,0,0);
  border: 0;
}

#fileInput2[type="file"] {  /* 파일 필드 숨기기 */
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip:rect(0,0,0,0);
  border: 0;
}


#uploadImgBox{
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 999;
	width: 100%;
}

#uploadImgBox2{
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 999;
	width: 100%;
}

#addnote{
	margin-top: -30px;
}

#addnote2{
	margin-top: -30px;
}

#uploadImg {
    width: 99%;
    max-height: 59vh;
    margin-top: -80px;
}

#uploadImg2 {
    width: 99%;
    max-height: 59vh;
    margin-top: -80px;
}

#sendbtn{
	vertical-align:middle;
}

#sendbtn2{
	vertical-align:middle;
}

#pickhairstyle{
	background-color: #b9e1ff;
	position: absolute;
    top: 78%;
    width:99%;
    height: 45px;
    text-align: center;
    border-radius: 5px;
}

#pickhairstyle2{
	background-color: #b9e1ff;
	position: absolute;
    top: 78%;
    width:99%;
    height: 45px;
    text-align: center;
    border-radius: 5px;
}

#pickhaircolor{
	background-color: rgb(255, 212, 218);
	position: absolute;
    top: 86%;
    width: 99%;
    height: 45px;
    text-align: center;
    border-radius: 5px;
}

#pickhaircolor2{
	background-color: rgb(255, 212, 218);
	position: absolute;
    top: 86%;
    width: 99%;
    height: 45px;
    text-align: center;
    border-radius: 5px;
}

