.contant{
    margin: 0 auto;
    position: absolute;
    top: 44%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid red;
    width: 40vw;
    height: 50vh;
}

@media only screen and (max-width: 550px) {
    .contant{
        width: 100%;
    }
}

.loginBox{
    margin-top: 25%;
}